{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De derde verdieping: Korte bezinningsmomenten</h2>
	<h3>Af en toe de tijd nemen om uitdrukkelijk stil te vallen</h3>
	<p>
		Op een weekend of kamp gebeurt het wel eens dat we de tijd nemen om uitdrukkelijk stil te vallen en stil te staan bij wat we belangrijk vinden in KSA. De waarden die benoemd worden op de tweede verdieping worden in een bezinningsmoment verder uitgediept en omkaderd met liederen, bezinningsteksten en rituelen.
	</p>
	<p>
		Op deze verdieping zal je naast de methodieken en tips ook bruikbaar materiaal kunnen terugvinden om korte bezinningsmomenten vorm te geven. We verwijzen ook graag naar andere bronnen zoals de KSA-uitgaven en enkele websites waar ook heel wat ingrediënten terug te vinden zijn (zie bronnen).
	</p>
    
{% endblock infocontent %}