{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De open K</h2>
	<h4>Een visie op de christelijke inspiratie in KSA</h4>
	
	<p>
		De letter <span class="k">K</span>,<br/>
		de elfde letter uit het moderne Latijnse alfabet,<br/>
		afkomstig van de Semitische letter ‘Kap’<br/>
		met het pictogram van een open hand.<br/>
		<img src="/managements/home/resources/images/openk.png"/>
	</p>
	<p>
		De open <span class="k">K</span>,<br/>
		nooit gesloten,<br/>
		altijd weer uit op ontmoeting,<br/>
		een uitgestoken hand.<br/>
	</p>
	<p>
		De <span class="k">K</span>,<br/>
		verwijzend naar Jezus<br/>
		een ‘open-minded’ jonge man<br/>
		steeds bereid om mensen te ontmoeten <br/>
		van hart tot hart.<br/>
	</p>
	<p>
		De <span class="k">K</span> van katholiek,<br/>
		universeel, wijd en voor iedereen bedoeld<br/>
		zonder onderscheid<br/>
		zonder discriminatie.<br/>
	</p>
	<p>
		De <span class="k">K</span> van kapstok,<br/>
		alles wat we belangrijk vinden<br/>
		en wat we de moeite vinden om voor te leven,<br/>
		hangen we er aan op,<br/>
		maar vooral de vriendschap<br/>
		van mens tot mens.<br/>
	</p>
	<p>
		De <span class="k">K</span>,<br/>
		de eerste letter van KSA,<br/>
		de jeugdbeweging<br/>
		waarin we leren om met een open geest<br/>
		elkaar te ontmoeten <br/>
		in alle vriendschap.<br/>
	</p>
	<p>
		Wat zouden we doen zonder de <span class="k">K</span>?<br/>
	</p>
	<p class="ondertitel">
		Gouwproost Bart <br/>
		Februari 2013
	</p>
    
{% endblock infocontent %}