{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De toren</h2>
	<h4>Een pedagogie van de K</h4>
	
	<p>
		In KSA Noordzeegouw hechten we heel wat belang aan het ontwikkelen van kwaliteitsvolle activiteiten en spelen. Elke leider of leidster heeft immers de grote verantwoordelijkheid om de KSA’ers te boeien met spel en avontuur. 
	</p>
	<p>
		Tijdens de Paascursus (de animotor- en hoofdanimatorcursus) worden verschillende methodieken per leeftijdsgroep aangeleerd ter ondersteuning van het leidinggeven. KSA Noordzeegouw heeft steeds de bewuste keuze gemaakt om het project In-Leef-Tijd<sup>1</sup> verder te concretiseren. De ‘KSJ-KSA-VKSJ leeftijdsbalk’ is daarbij een handig instrument. De volgende thema’s worden per leeftijdsgroep concreet omschreven: houding t.o.v. de leefwereld, interesse, motivatie voor KSJ-KSA-VKSJ, groeien in initiatief, identiteitsontwikkeling, afspraken en regels, spel, crea-activiteiten, op tocht, openluchttechnieken, sporten en veiligheid. Begin 2013 werd deze leeftijdsbalk grondig bijgewerkt. 
	</p>
	<p>
		De leeftijdszakboekjes zijn een verdere uitwerking van de leeftijdsbalk. In het leeftijdszakboekje werd ook een rubriek “Het ‘ietsje meer’ voor…” opgenomen. In KSA willen we dan ook het aanbod rond de K afstemmen op de verschillende leeftijden. Een Kabouter kijkt immers anders tegen de werkelijkheid en zingeving aan dan een Jonghernieuwer.
	</p>
	<p>
		Naast het leeftijdsgericht werken is het ook belangrijk om een aantal niveaus te onderscheiden. Te vaak wordt de K verengd tot bijvoorbeeld het samen eucharistie vieren of tot alles wat met de Kerk te maken heeft. De K is veel ruimer dan dat! We onderscheiden deze vier niveaus:
		<ol>
			<li><a href="/ksaactiviteiten">KSA-activiteiten</a></li>
			<li><a href="/waardeninksa">Waarden in KSA</a></li>
			<li><a href="/kortebezinningsmomenten">Korte bezinningsmomenten</a></li>
			<li><a href="/geloofenkerk">Geloof en Kerk</a></li>
		</ol>
	</p>
	<p>
		Het leeftijdsgericht werken en het onderscheiden van een aantal niveaus bracht ons bij het beeld van de toren. In de toren zijn er vier verdiepingen en per verdieping treffen we kamers aan per leeftijdsgroep. In elke kamer vind je methodieken, materiaal en tips om mee aan de slag te gaan. Je bepaalt dus zelf welke verdieping en welke kamer je wil bezoeken, afhankelijk van de interesse en de nood die leven in jullie bond. Aan de hand van de elementen die je aantreft in de kamer ga je verder aan de slag.
	</p>
	<p>
		Door te vertoeven in een bepaalde kamer op een welbepaalde verdieping, krijg je misschien wel zin om ook andere verdiepingen en andere kamers te bezoeken. Aarzel nooit om in te gaan op dit verlangen. Er staat jullie een ongelooflijk boeiende tocht doorheen de toren te wachten.
	</p>
	<p>
		<hr/>
		1 Wegwijs In-Leef-Tijd, Een werking op maat van de verschillende leeftijdsgroepen., KSJ-KSA-VKSJ Nationaal, augustus 2007.
	</p>
    
{% endblock infocontent %}