{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De werkgemeenschap K</h2>
	<p>
		De toren met zijn verdiepingen en kamers is nog in volle opbouw. We hopen dat de kamers meer en meer aangekleed worden en dat ze gevuld worden met enkele antieke spullen maar ook met moderne meubelen. Oud en nieuw moeten er in harmonie worden samengebracht. Maar zoals dat met elke kamer het geval is, zal ook de inrichting moeten evolueren in de tijd. De toren moet goed onderhouden worden en af en toe eens grondig schoongemaakt worden. Het zou zonde zijn de kamers te laten vermuffen.
	</p>
	<p>
		De toren is een plaats vol inspiratie en dat willen we ook zo houden. De kamers moeten daarom fris en aantrekkelijk blijven. 
	</p>
	<p>
		We hopen jullie in de toekomst nog heel wat nieuwe methodieken, tips en materiaal te kunnen aanbieden.
	</p>
	<p>
		Aarzel zeker en vast nooit om met datgene wat je hebt gezien aan de slag te gaan! Deel met ons ook jullie ervaringen en materiaal.
	</p>
	<p>
		Heb je vragen, opmerkingen of wens je methodieken, tips en materiaal aan te leveren, neem dan  contact op met Bart Lagrange, Gouwproost KSA Noordzeegouw (<a href="mailto:bart@ksanoordzeegouw.be">bart@ksanoordzeegouw.be</a>).
	</p>
	<p>
		KSA groet u!
	</p>
	<p>
		Werkgemeenschap K
	</p>
	<p>
		Christopher Beausaert, Pieter Chlarie, Laura Devynck, Bart Lagrange, Sofie Van Damme en Thomas Quicke.<br/>
		Werkjaar 2013-2014
	</p>
    
{% endblock infocontent %}