{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De tweede verdieping: Waarden in KSA</h2>
	<h3>Het benoemen en doorgeven van waarden</h3>
	<p>
		Wat we in KSA waardevol vinden, willen we benoemen en doorgeven. Dat gebeurt enerzijds doorheen de vele KSA-activiteiten (zie eerste verdieping) maar anderzijds ook op die momenten waar we de tijd nemen om er even bij stil te staan.
	</p>
	<p>
		In wat volgt proberen we per leeftijdsgroep een aantal methodieken en tips mee te geven om de waarden zoals bijvoorbeeld vriendschap, samenhorigheid, solidariteit, dankbaarheid, vergevingsgezindheid … te benoemen en door te geven.
	<p>
		Van zodra de waardenoverdracht gebeurt binnen een bezinningsmoment – waar ze omkaderd worden met lied, tekst, muziek … – dan  begeven we ons op de derde verdieping. Hier beperken we ons tot een aantal methodieken in functie van de waardenoverdracht op zich.
	</p>
    
{% endblock infocontent %}