{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>Knapen 12-14 jaar</h2>
	<h4>De kernwoorden volgens de leeftijdsbalk</h4>
	<div class="table-container">
	<table class="col-3 kernwoorden-leeftijd">
		<tr>
			<td>
				Houding t.o.v. leefwereld
			</td>
			<td>
				EXPERIMENTEREN
			</td>
		</tr>
		<tr>
			<td>
				Interesse
			</td>
			<td>
				VRIJHEID EN AVONTUUR
			</td>
		</tr>
		<tr>
			<td>
				Motivatie voor KSA
			</td>
			<td>
				VERKENNEN
			</td>
		</tr>
		<tr>
			<td>
				Groeien in initiatief
			</td>
			<td>
				ZELFSTANDIGHEID
			</td>
		</tr>
		<tr>
			<td>
				Identiteitsontwikkeling
			</td>
			<td>
				ZICHZELF EN DE GROEP ONTDEKKEN
			</td>
		</tr>
	</table>
</div>
	<p>
		De Knapen zijn in staat om na te denken over wat ze belangrijk vinden voor zichzelf, voor de anderen en voor de KSA-bond. Door stil te staan bij de betekenis van de waarden worden ze uitgedaagd om er ook naar te handelen.
	</p>
	<p>
		De Knapen kunnen we uitdagen om zelf na te denken over de keuzes die ze willen maken en over hoe ze deze waarden in de praktijk willen brengen.
	</p>
	<h4>Kernwoorden rond de K</h4>
	<div class="table-container">
	<table class="col-3 kernwoorden-k">
		<tr>
			<td>WAARDEN KIEZEN</td>
			<td>ACTIE</td>
			<td>VERHALEND KADER</td>

		</tr>
	</table>
	</div>
	<h4>Methodieken en tips</h4>
	<ul>
	{% for method in methods %}
	<li>{{method.name}}{% if method.file %} <a href="{{method.file}}">BIJLAGE</a>{% endif %}</li>
	{% endfor %}
	</ul>
    
{% endblock infocontent %}