<div id="site-overview-wrapper">
    <a id="site-overview-pull" href="#">
        <span class="fa fa-arrow-circle-left"></span>
        <span id="overview-pull-text">Website overzicht</span>
    </a>
    <div id="site-overview-container">
        <img class="ban-image" src="/application/resources/images/kabouter.png" />
        <img class="ban-image" src="/application/resources/images/pagadder.png" />
        <img class="ban-image" src="/application/resources/images/jongknaap.png" />
        <img class="ban-image" src="/application/resources/images/knaap.png" />
        <img class="ban-image" src="/application/resources/images/jonghernieuwer.png" />
        <img class="ban-image" src="/application/resources/images/hernieuwer.png" />
        <div class="floor-container">
            <div class="floor floor-4">
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        letterlijk geloof
                        <a href="/geloofenkerk/kabouters/" data-toggle="popover" data-content="Geloof en kerk - Kabouters"></a>
                    </div>
                    <div class="floor-item width-2 orange-red">
                        +/- letterlijk geloof
                        <a href="/geloofenkerk/pagadders/" data-toggle="popover" data-content="Geloof en kerk - Pagadders"></a>
                        <a href="/geloofenkerk/jongknapen/" data-toggle="popover" data-content="Geloof en kerk - Jongknapen"></a>
                    </div>
                    <div class="floor-item width-1 purple">
                        +/- symbolisch geloof
                        <a href="/geloofenkerk/knapen/" data-toggle="popover" data-content="Geloof en kerk - Knapen"></a>
                    </div>
                    <div class="floor-item width-2 blue-brown">
                        symbolisch geloof
                        <a href="/geloofenkerk/jonghernieuwers/" data-toggle="popover" data-content="Geloof en kerk - Jonghernieuwers"></a>
                        <a href="/geloofenkerk/hernieuwers/" data-toggle="popover" data-content="Geloof en kerk - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        bijbel beluisteren
                        <a href="/geloofenkerk/kabouters/" data-toggle="popover" data-content="Geloof en kerk - Kabouters"></a>
                    </div>
                    <div class="floor-item width-1 orange">
                        bijbel uitbeelden
                        <a href="/geloofenkerk/pagadders/" data-toggle="popover" data-content="Geloof en kerk - Pagadders"></a>
                    </div>
                    <div class="floor-item width-3 red-purple-blue">
                        bijbelverhaal duiden
                        <a href="/geloofenkerk/jongknapen/" data-toggle="popover" data-content="Geloof en kerk - Jongknapen"></a>
                        <a href="/geloofenkerk/knapen/" data-toggle="popover" data-content="Geloof en kerk - Knapen"></a>
                        <a href="/geloofenkerk/jonghernieuwers/" data-toggle="popover" data-content="Geloof en kerk - Jonghernieuwers"></a>
                    </div>
                    <div class="floor-item width-1 brown">
                        bijbel + leven duiden
                        <a href="/geloofenkerk/hernieuwers/" data-toggle="popover" data-content="Geloof en kerk - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-2 yellow-orange">
                        opstapjes voor stilte en gebed
                        <a href="/geloofenkerk/kabouters/" data-toggle="popover" data-content="Geloof en kerk - Kabouters"></a>
                        <a href="/geloofenkerk/pagadders/" data-toggle="popover" data-content="Geloof en kerk - Pagadders"></a>
                    </div>
                    <div class="floor-item width-4 red-purple-blue-brown">
                        samen vieren
                        <a href="/geloofenkerk/jongknapen/" data-toggle="popover" data-content="Geloof en kerk - Jongknapen"></a>
                        <a href="/geloofenkerk/knapen/" data-toggle="popover" data-content="Geloof en kerk - Knapen"></a>
                        <a href="/geloofenkerk/jonghernieuwers/" data-toggle="popover" data-content="Geloof en kerk - Jonghernieuwers"></a>
                        <a href="/geloofenkerk/hernieuwers/" data-toggle="popover" data-content="Geloof en kerk - Hernieuwers"></a>
                    </div>
                </div>
            </div>
            <div class="floor floor-3">
                <div class="floor-row">
                    <div class="floor-item width-3 yellow-orange-red">
                        concreet
                        <a href="/kortebezinningsmomenten/kabouters/" data-toggle="popover" data-content="Korte bezinningsmomenten - Kabouters"></a>
                        <a href="/kortebezinningsmomenten/pagadders/" data-toggle="popover" data-content="Korte bezinningsmomenten - Pagadders"></a>
                        <a href="/kortebezinningsmomenten/jongknapen/" data-toggle="popover" data-content="Korte bezinningsmomenten - Jongknapen"></a>
                    </div>
                    <div class="floor-item width-1 purple">
                        eenvoudige symbolen
                        <a href="/kortebezinningsmomenten/knapen/" data-toggle="popover" data-content="Korte bezinningsmomenten - Knapen"></a>
                    </div>
                    <div class="floor-item width-1 blue">
                        eigen leven
                        <a href="/kortebezinningsmomenten/jonghernieuwers/" data-toggle="popover" data-content="Korte bezinningsmomenten - Jonghernieuwers"></a>
                    </div>
                    <div class="floor-item width-1 brown">
                        openheid durven
                        <a href="/kortebezinningsmomenten/hernieuwers/" data-toggle="popover" data-content="Korte bezinningsmomenten - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        afbeeldingen
                        <a href="/kortebezinningsmomenten/kabouters/" data-toggle="popover" data-content="Korte bezinningsmomenten - Kabouters"></a>
                    </div>
                    <div class="floor-item width-1 orange">
                        (uit)beelden
                        <a href="/kortebezinningsmomenten/pagadders/" data-toggle="popover" data-content="Korte bezinningsmomenten - Pagadders"></a>
                    </div>
                    <div class="floor-item width-4 red-purple-blue-brown">
                        rituelen
                        <a href="/kortebezinningsmomenten/jongknapen/" data-toggle="popover" data-content="Korte bezinningsmomenten - Jongknapen"></a>
                        <a href="/kortebezinningsmomenten/knapen/" data-toggle="popover" data-content="Korte bezinningsmomenten - Knapen"></a>
                        <a href="/kortebezinningsmomenten/jonghernieuwers/" data-toggle="popover" data-content="Korte bezinningsmomenten - Jonghernieuwers"></a>
                        <a href="/kortebezinningsmomenten/hernieuwers/" data-toggle="popover" data-content="Korte bezinningsmomenten - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        knutselen
                        <a href="/kortebezinningsmomenten/kabouters/" data-toggle="popover" data-content="Korte bezinningsmomenten - Kabouters"></a>
                    </div>
                    <div class="floor-item width-3 orange-red-purple">
                        eenvoudig gesprek
                        <a href="/kortebezinningsmomenten/pagadders/" data-toggle="popover" data-content="Korte bezinningsmomenten - Pagadders"></a>
                        <a href="/kortebezinningsmomenten/jongknapen/" data-toggle="popover" data-content="Korte bezinningsmomenten - Jongknapen"></a>
                        <a href="/kortebezinningsmomenten/knapen/" data-toggle="popover" data-content="Korte bezinningsmomenten - Knapen"></a>
                    </div>
                    <div class="floor-item width-1 blue">
                        open gesprek
                        <a href="/kortebezinningsmomenten/jonghernieuwers/" data-toggle="popover" data-content="Korte bezinningsmomenten - Jonghernieuwers"></a>
                    </div>
                    <div class="floor-item width-1 brown">
                        diepgaand gesprek
                        <a href="/kortebezinningsmomenten/hernieuwers/" data-toggle="popover" data-content="Korte bezinningsmomenten - Hernieuwers"></a>
                    </div>
                </div>
            </div>
            <div class="floor floor-2">
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        doen
                        <a href="/waardeninksa/kabouters/" data-toggle="popover" data-content="Waarden in KSA - Kabouters"></a>
                    </div>
                    <div class="floor-item width-1 orange">
                        (nadenken +) doen
                        <a href="/waardeninksa/pagadders/" data-toggle="popover" data-content="Waarden in KSA - Pagadders"></a>
                    </div>
                    <div class="floor-item width-1 red">
                        nadenken
                        <a href="/waardeninksa/jongknapen/" data-toggle="popover" data-content="Waarden in KSA - Jongknapen"></a>
                    </div>
                    <div class="floor-item width-2 purple-blue">
                        waarden kiezen
                        <a href="/waardeninksa/knapen/" data-toggle="popover" data-content="Waarden in KSA - Knapen"></a>
                        <a href="/waardeninksa/jonghernieuwers/" data-toggle="popover" data-content="Waarden in KSA - Jonghernieuwers"></a>
                    </div>
                    <div class="floor-item width-1 brown">
                        waarden doorgeven
                        <a href="/waardeninksa/hernieuwers/" data-toggle="popover" data-content="Waarden in KSA - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-2 yellow-orange">
                        herkenbaar
                        <a href="/waardeninksa/kabouters/" data-toggle="popover" data-content="Waarden in KSA - Kabouters"></a>
                        <a href="/waardeninksa/pagadders/" data-toggle="popover" data-content="Waarden in KSA - Pagadders"></a>
                    </div>
                    <div class="floor-item width-4 red-purple-blue-brown">
                        actie
                        <a href="/waardeninksa/jongknapen/" data-toggle="popover" data-content="Waarden in KSA - Jongknapen"></a>
                        <a href="/waardeninksa/knapen/" data-toggle="popover" data-content="Waarden in KSA - Knapen"></a>
                        <a href="/waardeninksa/jonghernieuwers/" data-toggle="popover" data-content="Waarden in KSA - Jonghernieuwers"></a>
                        <a href="/waardeninksa/hernieuwers/" data-toggle="popover" data-content="Waarden in KSA - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-4 yellow-orange-red-purple">
                        verhalend kader
                        <a href="/waardeninksa/kabouters/" data-toggle="popover" data-content="Waarden in KSA - Kabouters"></a>
                        <a href="/waardeninksa/pagadders/" data-toggle="popover" data-content="Waarden in KSA - Pagadders"></a>
                        <a href="/waardeninksa/jongknapen/" data-toggle="popover" data-content="Waarden in KSA - Jongknapen"></a>
                        <a href="/waardeninksa/knapen/" data-toggle="popover" data-content="Waarden in KSA - Knapen"></a>
                    </div>
                    <div class="floor-item width-2 blue-brown">
                        identiteit
                        <a href="/waardeninksa/jonghernieuwers/" data-toggle="popover" data-content="Waarden in KSA - Jonghernieuwers"></a>
                        <a href="/waardeninksa/hernieuwers/" data-toggle="popover" data-content="Waarden in KSA - Hernieuwers"></a>
                    </div>
                </div>
            </div>
            <div class="floor floor-1">
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        vertellen
                        <a href="/ksaactiviteiten/kabouters/" data-toggle="popover" data-content="KSA Activiteiten - Kabouters"></a>
                    </div>
                    <div class="floor-item width-1 orange">
                        groep vormen
                        <a href="/ksaactiviteiten/pagadders/" data-toggle="popover" data-content="KSA Activiteiten - Pagadders"></a>
                    </div>
                    <div class="floor-item width-1 red">
                        teamspirit
                        <a href="/ksaactiviteiten/jongknapen/" data-toggle="popover" data-content="KSA Activiteiten - Jongknapen"></a>
                    </div>
                    <div class="floor-item width-1 purple">
                        keuzes maken
                        <a href="/ksaactiviteiten/knapen/" data-toggle="popover" data-content="KSA Activiteiten - Knapen"></a>
                    </div>
                    <div class="floor-item width-1 blue">
                        passie voor ksa
                        <a href="/ksaactiviteiten/jonghernieuwers/" data-toggle="popover" data-content="KSA Activiteiten - Jonghernieuwers"></a>
                    </div>
                    <div class="floor-item width-1 brown">
                        samenwerken
                        <a href="/ksaactiviteiten/hernieuwers/" data-toggle="popover" data-content="KSA Activiteiten - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        ontdekken
                        <a href="/ksaactiviteiten/kabouters/" data-toggle="popover" data-content="KSA Activiteiten - Kabouters"></a>
                    </div>
                    <div class="floor-item width-5 orange-red-purple-blue-brown">
                        vriendschap
                        <a href="/ksaactiviteiten/pagadders/" data-toggle="popover" data-content="KSA Activiteiten - Pagadders"></a>
                        <a href="/ksaactiviteiten/jongknapen/" data-toggle="popover" data-content="KSA Activiteiten - Jongknapen"></a>
                        <a href="/ksaactiviteiten/knapen/" data-toggle="popover" data-content="KSA Activiteiten - Knapen"></a>
                        <a href="/ksaactiviteiten/jonghernieuwers/" data-toggle="popover" data-content="KSA Activiteiten - Jonghernieuwers"></a>
                        <a href="/ksaactiviteiten/hernieuwers/" data-toggle="popover" data-content="KSA Activiteiten - Hernieuwers"></a>
                    </div>
                </div>
                <div class="floor-row">
                    <div class="floor-item width-1 yellow">
                        luisteren
                        <a href="/ksaactiviteiten/kabouters/" data-toggle="popover" data-content="KSA Activiteiten - Kabouters"></a>
                    </div>
                    <div class="floor-item width-1 orange">
                        samen spelen
                        <a href="/ksaactiviteiten/pagadders/" data-toggle="popover" data-content="KSA Activiteiten - Pagadders"></a>
                    </div>
                    <div class="floor-item width-1 red">
                        grenzen verleggen
                        <a href="/ksaactiviteiten/jongknapen/" data-toggle="popover" data-content="KSA Activiteiten - Jongknapen"></a>
                    </div>
                    <div class="floor-item width-1 purple">
                        met grenzen omgaan
                        <a href="/ksaactiviteiten/knapen/" data-toggle="popover" data-content="KSA Activiteiten - Knapen"></a>
                    </div>
                    <div class="floor-item width-1 blue">
                        opkomen voor jezelf
                        <a href="/ksaactiviteiten/jonghernieuwers/" data-toggle="popover" data-content="KSA Activiteiten - Jonghernieuwers"></a>
                    </div>
                    <div class="floor-item width-1 brown">
                        diversiteit
                        <a href="/ksaactiviteiten/hernieuwers/" data-toggle="popover" data-content="KSA Activiteiten - Hernieuwers"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>