<div class="app-container">
    <h2>
        Facebook
    </h2>
    <div class="fb-like-box" data-href="https://www.facebook.com/StalVerduyn" data-width="100%" data-height="70" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false">
    </div>
</div>

<div class="app-container">
    <h2>
        Contact
    </h2>
    <div class="app-container-content">
        <div class="row">
            <div class="col-md-12">
                <b><u>Stal Verduyn</u></b> <br/>
                Ringlaan 14 <br/>
                8480 Ichtegem <br/><br/>
                <b><u>BTW-nummer</u></b><br/>
                BE882 883 805<br/><br/>
            </div>
            <div class="col-md-12">
                <b><u>GSM Tom Verduyn</u></b> <br/>
                +32 476 54 84 82<br/><br/>
                <b><u>GSM Julie Vandamme</u></b> <br/>
                +32 486 74 63 35<br/>
            </div>
        </div>
    </div>
</div>