<div id="application-header-content">
    <div id="slider">
        <ul class="bjqs">
            <li><div class="slide_1"></div></li>
            <li><div class="slide_2"></div></li>
            <li><div class="slide_3"></div></li>
            <li><div class="slide_4"></div></li>
            <li><div class="slide_5"></div></li>
            <li><div class="slide_6"></div></li>
            <li><div class="slide_7"></div></li>
            <li><div class="slide_8"></div></li>
            <li><div class="slide_9"></div></li>
            <li><div class="slide_10"></div></li>
        </ul>
        {# <div id="slider-fade-left" class="hidden-sm hidden-xs"></div>
        <div id="slider-fade-right" class="hidden-sm hidden-xs"></div> #}
    </div>
</div>