{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De eerste verdieping: KSA-activiteiten</h2>
	<h3>Heel breed: alles wat we doen in KSA bevat een verwijzing naar de K</h3>
	<p>
		In KSA hebben we aandacht voor elk lid van de groep. We proberen iedereen aan te moedigen om mee groep te vormen door samen te spelen en te ravotten. In het samen spelen hebben we aandacht voor de algemene pedagogische regels zoals die worden aangereikt in de leeftijdszakboekjes. In wat volgt willen we laten zien dat bepaalde aspecten van de K ook een plaats kunnen krijgen doorheen de activiteiten en initiatieven. De visie op ‘de open K’ proberen we op deze verdieping in de praktijk te brengen.
	</p>
    
{% endblock infocontent %}