{% extends "@application/info.html" %}

{% block infocontent %}
	<h2>De vierde verdieping: Geloof en Kerk</h2>
	<h3>Samen komen om het geloof ter sprake te brengen en te vieren</h3>
	<p>
		De KSA is in oorsprong een studentenbeweging die werd vormgegeven vanuit een kerkelijke oproep om het geloof in Jezus te herontdekken en te bewaren. Doorheen haar geschiedenis is de studentenbeweging een echte jeugdbeweging geworden. Onder invloed van een algemeen maatschappelijke evolutie heeft de KSA ook telkens haar positie t.o.v. het christelijke geloof en de kerk bepaald. 
	</p>
	<p>
		Christen zijn en je verbonden voelen met de kerk is allesbehalve vanzelfsprekend geworden. Van zodra er een vermoeden is dat het heel duidelijk te maken heeft met de K haken velen af omdat ze het verbinden met iets saai, moeilijk of wereldvreemd. Toch proberen we in KSA het christelijk geloof ter sprake te brengen en te vertalen naar de wereld van kinderen en jongeren.
	</p>
	<p>
		Wat Jezus onder de aandacht heeft willen brengen, blijft uiterst actueel. Hij is een inspiratiebron van hoe we als mensen met elkaar kunnen samen leven. Hij roept ons op om te geloven, te hopen en lief te hebben. 
	</p>
	<p>
		Hoe ouder we worden, hoe meer we zelf de keuze kunnen maken om al dan niet op deze uitnodiging in te gaan.
	</p>
	<p>
		De vierde verdieping is de hoogste. Het vraagt een hele inspanning om er te willen komen. En omdat het de hoogste is, moeten we telkens terug naar beneden om opnieuw samen te leven en te spelen met onze vrienden in KSA. Het is dan ook nooit de bedoeling om op deze verdieping te blijven hangen. Maar net zoals op de derde verdieping kan het er heerlijk vertoeven zijn en kunnen we wat zich beneden afspeelt ook eens vanuit een ander perspectief bekijken.
	</p>
    
{% endblock infocontent %}