$page-background: #FFBC50;

$sky-top: #99B1BD;
$sky-bottom: #ADD4DC;

$tower-light: #F7A200;
$tower-dark: #BF8200;

$ground-top: #B07848;
$ground-bottom: #8B423D;

$blue-title: #3C3F62;

$pull-left: #FFFEF5;
$pull-right: #B5B5B5;
$pull-color: #858585;
$overview-background: rgba(0,0,0,.70);
$floor-background: rgba(0,0,0,.60);

$yellow: #E6AC34;
$orange: #DA8B33;
$red: #BE122F;
$purple: #4A2B7A;
$blue: #2C438F;
$brown: #69451C;

$popover-background: rgba(0,0,0,.60);

$menu-background: rgba(0,0,0,.70);