@font-face {
    font-family: "blue-highway";
    src: url("/application/resources/stylesheets/fonts/blue-highway/blue-highway.eot");
    src: url("/application/resources/stylesheets/fonts/blue-highway/blue-highway.eot?#iefix") format("embedded-opentype"),
        url("/application/resources/stylesheets/fonts/blue-highway/blue-highway.woff") format("woff"),
        url("/application/resources/stylesheets/fonts/blue-highway/blue-highway.ttf") format("truetype"),
        url("/application/resources/stylesheets/fonts/blue-highway/blue-highway.svg#blue_highwaybold") format("svg");
    font-weight: normal;
    font-style: normal;
}