{% extends '@application/base.html' %}

{% block applicationframe %}

    <div class="background admin-background">

    </div>

    <div class="content-wrapper admin">
        <h2>Overzicht webpagina's</h2>
        <ul>
        	<li>
        		Geloof en kerk
        		<ul>
        			<li>
        				<a href="/admin/index/geloofenkerk/kabouters">kabouters</a>
        			</li>
        			<li>
        				<a href="/admin/index/geloofenkerk/pagadders">pagadders</a>
        			</li>
        			<li>
        				<a href="/admin/index/geloofenkerk/jongknapen">jongknapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/geloofenkerk/knapen">knapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/geloofenkerk/jonghernieuwers">jonghernieuwers</a>
        			</li>
        			<li>
        				<a href="/admin/index/geloofenkerk/hernieuwers">hernieuwers</a>
        			</li>
        		</ul>
        	</li>
        	<li>
        		Korte bezinningsmomenten
        		<ul>
        			<li>
        				<a href="/admin/index/kortebezinningsmomenten/kabouters">kabouters</a>
        			</li>
        			<li>
        				<a href="/admin/index/kortebezinningsmomenten/pagadders">pagadders</a>
        			</li>
        			<li>
        				<a href="/admin/index/kortebezinningsmomenten/jongknapen">jongknapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/kortebezinningsmomenten/knapen">knapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/kortebezinningsmomenten/jonghernieuwers">jonghernieuwers</a>
        			</li>
        			<li>
        				<a href="/admin/index/kortebezinningsmomenten/hernieuwers">hernieuwers</a>
        			</li>
        		</ul>
        	</li>
        	<li>
        		Waarden in KSA
        		<ul>
        			<li>
        				<a href="/admin/index/waardeninksa/kabouters">kabouters</a>
        			</li>
        			<li>
        				<a href="/admin/index/waardeninksa/pagadders">pagadders</a>
        			</li>
        			<li>
        				<a href="/admin/index/waardeninksa/jongknapen">jongknapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/waardeninksa/knapen">knapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/waardeninksa/jonghernieuwers">jonghernieuwers</a>
        			</li>
        			<li>
        				<a href="/admin/index/waardeninksa/hernieuwers">hernieuwers</a>
        			</li>
        		</ul>
        	</li>
        	<li>
        		KSA-activiteiten
        		<ul>
        			<li>
        				<a href="/admin/index/ksaactiviteiten/kabouters">kabouters</a>
        			</li>
        			<li>
        				<a href="/admin/index/ksaactiviteiten/pagadders">pagadders</a>
        			</li>
        			<li>
        				<a href="/admin/index/ksaactiviteiten/jongknapen">jongknapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/ksaactiviteiten/knapen">knapen</a>
        			</li>
        			<li>
        				<a href="/admin/index/ksaactiviteiten/jonghernieuwers">jonghernieuwers</a>
        			</li>
        			<li>
        				<a href="/admin/index/ksaactiviteiten/hernieuwers">hernieuwers</a>
        			</li>
        		</ul>
        	</li>
        </ul>
    </div>
{% endblock applicationframe %}